[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
Django = "~=2.0"
wagtail = "~=2.2"
django-environ = "*"
wagtailfontawesome = "*"
wagtailtrans = "*"
gunicorn = "*"
psycopg2 = "*"
raven = "*"
argon2_cffi = "*"
django-publications-bootstrap = "*"
django-decorator-include = "*"
django-cookie-law = "*"

[dev-packages]
werkzeug = "*"
ipdb = "*"
fabric3 = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pytest-django = "*"

[requires]
python_version = "3.5"
