{% load wagtailimages_tags i18n static %}
<div class="{% if count == 1 or count == 3%}col-lg-12{% else %}col-lg-6{% endif %} d-flex align-items-stretch">
    <div class="card">
        {% if count == 1 or count == 3 %}
            {% image case_study.teaser_image fill-2160x720 format-jpeg jpegquality-60 class="card-img-top img-fluid h-100" %}
        {% else %}
            {% image case_study.teaser_image fill-1080x720 format-jpeg jpegquality-60 class="card-img-top img-fluid h-100" %}
        {% endif %}
        <div class="card-box">
            <div>
                <img src="{% static 'images/Logo_Small_On_Dark_Variant.svg' %}" width="90" class="d-none d-sm-block">
                <h6>{{ case_study.subtitle }}</h6>
                <a href="{{ case_study.url }}"><h5 class="card-title">{{ case_study.title }}</h5></a>
            </div>
        </div>
    </div>
</div>