{% load wagtailcore_tags wagtailimages_tags static cireg i18n %}
<div class="row download-item{% for energy_type in item.energy_type.all %} {{ energy_type|slugify }}{% endfor %} {{ item.timestamp|slugify }}">
    {% if item.image %}
    <div class="col-3">
        {% image item.image width-500 class="mx-auto d-block img-fluid" %}
    </div>
    {% endif %}
    <div class="{% if item.image %}col-9{% else %}col-12{% endif %}">
        <h2>{{ item.title }}</h2>
        {{ item.description|richtext }}
        <hr>
        <div class="meta">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item created">{{ item.first_published_at|date:"d.m.Y" }}</li>
                {% for energy_type in item.energy_type.all %}
                <li class="list-inline-item"><a href="{% pageurl page.get_parent %}?tag={{ tag }}" class="badge badge-primary">{{ energy_type.name }}</a></li>
                {% endfor %}
                {% if item.timestamp %}
                <li class="list-inline-item timestamp"><a href="{% pageurl page.get_parent %}?tag={{ tag }}" class="badge badge-primary">{{ item.timestamp }}</a></li>
                {% endif %}
            </ul>
            <span class="download-link">
                <img src="{% static "images/file-download-solid.svg" %}">
                <a href="{{ item.file.url }}" class="download-link">{% if item.file_text %}{{ item.file_text }}{% else %}{% trans "Download" %} {{ item.file.file_extension|upper }} ({{ item.file.file_size|filesizeformat }}){% endif %}</a>
            </span>
        </div>
    </div>
</div>