{% load static wagtailtrans_tags %}
<header class="{{ header_size }}">
    <nav class="navbar navbar-expand fixed-top navbar-meta">
        <div class="container">
            <div class="collapse navbar-collapse justify-content-end" id="meta-nav">
                <ul class="navbar-nav">
                    {# {% if page %}{% render_language_selector page %}{% endif %} #}
                    {% for menu_item in meta_menu %}
                      <li class="nav-item{% if menu_item.active %} active{% endif %}">
                        <a class="nav-link" href="{{ menu_item.url }}">{{ menu_item.text }}</a>
                      </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-md fixed-top navbar-main">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/Logo_Large_On_Dark.svg' %}" class="align-top large" alt="">
                <img src="{% static 'images/Logo_Medium_On_Dark.svg' %}" class="align-top medium" alt="">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <img src="{% static "images/bars-solid.svg" %}" width="30" height="30" class="hamburger">
                <img src="{% static "images/times-solid.svg" %}" width="30" height="30" class="close">
              </button>
            <hr>
            <div class="navbar-collapse collapse" id="main-nav">
                <ul class="navbar-nav">
                    {% for menu_item in main_menu %}
                      <li class="nav-item{% if menu_item.active %} active{% endif %}{% if menu_item.children %} dropdown{% endif %}">
                        <a class="nav-link{% if menu_item.children %} dropdown-toggle{% endif %}" {% if not menu_item.children %}href="{{ menu_item.url }}"{% endif %}{% if menu_item.children %} href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}>{{ menu_item.text }}</a>
                        <div class="dropdown-menu dropdown-menu-right fade">
                            {% for child in menu_item.children %}
                                <a class="dropdown-item{% if child.active %} active{% endif %}" href="{{ child.url }}">{{ child.text }}</a>
                            {% endfor %}
                        </div>
                      </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>
