{% load wagtailimages_tags wagtailcore_tags %}
<div id="hero-slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000">
    <div class="carousel-inner">
      {% for item in page.image_items.all %}
          {% image item.image max-4000x1400 format-jpeg jpegquality-60 as image %}
          <div class="carousel-item{% if forloop.first%} active{% endif %}" style="background-image: url('{{ image.url }}');">
          </div>
      {% endfor %}
    </div>
    <div class="intro offset-1 col-10 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
        {{ page.hero_text|richtext }}
        {% if page.hero_text_source %}<p class="source">{{ page.hero_text_source }}</p>{% endif %}
        {% if page.hero_page_link %}
            <a href="{{ page.hero_page_link.url }}" class="btn btn-primary">{{ page.hero_page_link_text }}</a>
        {% endif %}
    </div>

</div>