{% load wagtailimages_tags i18n %}
<div class="col-4 d-flex align-items-stretch">
    <div class="card">
        {% image project_diary.teaser_image width-800 class="card-img-top img-fluid" %}
        <div class="card-body">
            <p class="card-date">{{ project_diary.first_published_at|date:"F Y" }}</p>
            <h5 class="card-title">{{ project_diary.title }}</h5>
            <p class="card-text">{{ project_diary.teaser_text }}</p>
            <a href="{{ project_diary.url }}" class="btn btn-secondary">{% trans "Read more" %}</a>
        </div>
    </div>
</div>