{% load wagtailcore_tags i18n %}
<div class="row">
    <div class="col-12 col-sm-8">
        {{ value.text|richtext }}
    </div>
    <div class="col-12 col-sm-4">
        <div class="facts">
            <h4>{% trans "Facts" %}</h4>
            <table class="table table-striped">
              <tbody>
                {% for fact in value.facts %}
                    <tr>
                      <td class="fact">{{ fact.fact }}</td>
                      <td class="value">{{ fact.value }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>