{% load i18n %}
<section class="project-diary-section">
    <div class="container project-diary">
        <h3 class="chapter">{% trans "Latest project diary" %}</h3>
        <div class="row">
        {% for project_diary in project_diary_entries %}
            {% include "widgets/project_diary_teaser.html" %}
        {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
        <a href="#" class="btn btn-secondary show-all ">{% trans "Show All Project Diaries" %}</a>
        </div>
    </div>
</section>