@import "fonts";
// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

$white: #ffffff;
$black: #000000;

$blue100: #032738;
$blue200: #0c4d6c;
$blue300: #0c638d;

$orange100: #cf8e17;
$orange200: #eea00a;
$orange300: #f3b84e;

$grey100: #6c909e;
$grey200: #b3bec3;
$grey300: #ccd3d7;
$grey400: #e6e9eb;
$grey500: #f7f7f7;


@keyframes move-right {
	100% {
		transform: translate(1em, -9em);
	}
}



html, body {
	font-size: 10px;
	font-family: 'Assistant', sans-serif;
	color: $blue100;
}

h1 {
	margin-bottom: 3.4rem;
	font-family: 'Martel', serif;
	font-size: 5.712200000000001em;
	line-height: 6.8rem;
	font-weight: 900;
	font-style: normal;
	color: $blue200;
	@media (max-width: 575px) { 
		font-size: 4.4em;
		line-height: 6.8rem;
	}
}

h2 {
	margin-top: 2rem;
	margin-bottom: 1.2rem;
	font-family: 'Martel', serif;
	font-size: 4.4em;
	line-height: 6.8rem;
	font-weight: 900;
	font-style: normal;
	color: $blue200;
	&.icon-heading {
		&:before {
			content: url('../images/Logo_Small_On_Light_Variant.svg');
			position: relative;
			top: 5px;
			margin-right: 15px;
		}
	}
	@media (max-width: 575px) { 
		font-size: 3.4em;
		line-height: 3.4rem;
	}
}

h3 {
	margin-top: 2rem;
	margin-bottom: .25rem;
	font-family: 'Martel', serif;
	font-size: 3.4em;
	line-height: 3.4rem;
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0em;
	color: $blue200;
	@media (max-width: 575px) { 
		font-size: 2.6em;
		line-height: 3.4rem;
	}
}

h4 {
	margin-top: 2rem;
	margin-bottom: .25rem;
	font-family: 'Martel', serif;
	font-size: 2.6em;
	line-height: 3.4rem;
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0em;
	color: $blue200;
	@media (max-width: 575px) { 
		font-size: 2.6em;
		line-height: 3.4rem;
	}
}

h5 {
	margin-top: 2rem;
	margin-bottom: .25rem;
	font-family: 'Martel', serif;
	font-size: 2.6em;
	line-height: 3.4rem;
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0em;
	color: $blue200;
}

h6 {
	margin-bottom: .5rem;
	font-family: 'Martel', serif;
	font-size: 2.6em;
	line-height: 3.4rem;
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0em;
	color: $blue200;
}

p {
	// margin-bottom: 3.4rem;
	font-family: 'Assistant', sans-serif;
	font-size: 2em;
	line-height: 3.4rem;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0em;
}

.rich-text {
	ul, ol {
		font-size: 2em;
		padding-left: 2rem;
		line-height: 3.4rem;
	}
	ul {
		position: relative;
		list-style-type: none;
		li:before {
			content: "·";
			vertical-align: bottom;
			font-size: 3rem;
			position: absolute;
			left: 0;
		}
	}
}
h1, h2, h3, h4, h5 {
	@media (max-width: 575px) { 
		hyphens: auto;
	}
}


* + h2,
* + h2,
.two-columns + h2 {
	margin-top: 6rem;
}

.two-columns {
	margin-top: 6rem;
}
* + h3 {
	margin-top: 4.5rem;
}
.four-columns,
* + h4 {
	margin-top: 3rem;
}

// h1 + p {
// 	margin-top: -2.4rem;
// }

// h2 + p {
// 	margin-top: -2.4rem;
// }

// h3 + p {
// 	margin-top: -2.4rem;
// }

// h4 + p {
// 	margin-top: -2.4rem;
// }

// h5 + p {
// 	margin-top: -2.4rem;
// }

// h6 + p {
// 	margin-top: -2.4rem;
// }

h3.chapter {
	font-size: 20px;
	font-family: 'Assistant', sans-serif;
	letter-spacing: 3px;
	font-weight: 700;
	text-transform: uppercase;
	overflow: hidden;
	text-align: center;
	margin-bottom: 6rem;
	margin-top: 6rem;
	&:before,
	&:after {
		background-color: $grey300;
		content: "";
		display: inline-block;
		height: 2px;
		position: relative;
		vertical-align: middle;
		width: 30px;
	}
	&:before {
		right: 0.5em;
		margin-left: -50%;
	}
	&:after {
		left: 0.5em;
		margin-right: -50%;
	}
}

.block-lead_text {
	p {
		font-size: 2.6rem;
		line-height: 1.42;
		font-weight: 600;
	}
	margin-bottom: 4rem;
}
.rich-text {
	img.left {
		float: left;
		max-width: 100%;
		height: auto;
	}
	img.right {
		float: right;
		max-width: 100%;
		height: auto;
	}
	img.full-width {
		max-width: 100%;
		height: auto;
	}
}
.btn-primary {
	border-radius: 4px;
	border: solid 3px $orange200;
	font-size: 26px;
	color: $orange200;
	background-color: transparent;
	font-family: 'Assistant', sans-serif;
	font-weight: 600;
	padding: 8px 20px;
	&.focus, 
	&:focus {
		box-shadow: 0 0 0 0.4rem rgba(238, 160, 10, 0.5);
	}
	&:hover {
		color: $orange200;
		background-color: rgba(238, 160, 10, 0.15);
		border-color: $orange200;
	}
	@media (max-width: 575px) { 
		font-size: 22px;
		padding: 6px 10px;
	}
}
.btn-secondary {
	background: transparent;
	font-size: 16px;
	text-transform: uppercase;
	color: $orange100;
	font-weight: 700;
	padding: 0;
	border: none;
	border-bottom: 3px solid $grey400;
	border-radius: 0;
	transition: border-color .2s linear;
	&.focus, 
	&:focus {
		box-shadow: 0 0 0 0.4rem rgba(238, 160, 10, 0.5);
	}
	&:hover {
		color: $orange100;
		background: transparent;
		border-color: $orange100;
	}
}
.badge {
	font-size: 16px;
	text-transform: uppercase;
	padding: 7px 14px;
	border-radius: 2rem;
	&.badge-primary {
		background-color: $blue200;
		color: $grey500;
		&:hover {
			color: $orange100;
			background-color: $blue200;
		}
	}
	&.badge-secondary {
		background-color: $orange100;
		color: $white;
		padding-left: 30px;
		position: relative;
		&:before {
			content: url('../images/check-circle-solid.svg');
			position: absolute;
			left: 12px;
			top: 8px;
			height: 13px;
			width: 13px;
		}
		&:hover {
			&:before {
				content: url('../images/circle-solid.svg');
			}
			background-color: $grey300;
		}
	}
	img {
		
		vertical-align: top;
		margin-top: 1px;
		margin-right: 2px;
	}
}
.filter {
	font-size: 2rem;
	.badge.badge-secondary {
		background-color: $grey300;
		color: $white;
		&:before {
			content: url('../images/circle-solid.svg');
			position: absolute;
			left: 12px;
			top: 8px;
			height: 13px;
			width: 13px;
		}
		&.is-checked {
			background-color: $blue200;
			&:before {
				content: url('../images/check-circle-solid.svg');
			}
		}
	}
}
figure {
	height: 75%;
	img {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.figure-caption {
		font-size: 16px;
		color: $blue100;
		position: absolute;
		bottom: 0;
	}
}

.form-control,
label {
	font-size: 16px;
}
.form-control {
	height: calc(4rem + 2px);
}
.form-group.required label:after {
	content: "*";
	color: red;
}

.content {
	padding-top: 30px;
}
.navbar-toggler {
	.hamburger {
		display: none;
	}
	.close {
		display: block;
		opacity: 1;
	}
	&.collapsed {
		.hamburger {
			display: block;
		}
		.close {
			display: none;
		}
	}
	&:focus {
		outline: none;
	}
}
header {
	.navbar-main {
		height: 308px;
		top: 30px;
		padding-top: 37px;
		padding-bottom: 37px;
		font-size: 20px;
		font-weight: 300;
		font-family: 'Assistant';
		/*Animation*/
		    // -moz-transition: background-color 1s ease;
		    //   -o-transition: height 1s ease;
		    //  -ms-transition: height 1s ease;
		         
		.container {
			position: relative;
		}
		.navbar-brand {
			img.large,
			img.medium {
				display: inline-block;
			}
		}
		hr {
			position: absolute;
			border-top: 1px solid $grey300;
			width: 78%;
			top: 7.9rem;
			right: 0;
			margin: 0;
		}
		.nav-item {
			margin-left: 22px;
			.nav-link {
				padding-top: 8px;
				padding-bottom: 7px;
				line-height: 1.14;
				color: $white;
			}
			&.active {
				font-weight: 600;
			}
		}
		.navbar-collapse {
			position: absolute;
			top: 40px;
			right: 0;
		}

		@media (max-width: 575px) {
			.navbar-collapse {
				position: fixed;
				top: 120px;
				background-color: $blue100;
				width: 100%;
				padding-bottom: 15px;
			}
			hr {
				display: none;
			}

		}
	}
	.navbar-meta {
		background-color: $grey500;
		font-size: 14px;
		padding: 0;
		font-weight: 500;
		overflow: hidden;
		height: 30px;
		transition: height 0.5s ease-out;
		.nav-item {
			.nav-link {
				padding-top: 8px;
				padding-bottom: 7px;
				line-height: 1.14;
				color: $grey100;
				text-transform: uppercase;
				font-weight: normal;
				padding-right: 1rem;
				padding-left: 1rem;
				&:hover {
					color: $blue300;
				}
			}
			&.active .nav-link {
				color: $blue300;
				font-weight: 700;
			}
			&.active-language {
				position: relative;
				.nav-link {
					float: left;
					padding-right: 2px;
				}
				&:after {
					right: -6px;
					position: absolute;
					content: "|";
					color: $grey100;
					line-height: 2.14;
				}
			}
		}
	}
	&.large {
		.navbar-main {
			transition: unset;
			.navbar-brand {
				img {
					opacity: 0;
					position: absolute;
				}
				img.medium {
					opacity: 0;
					position: absolute;
					top: -9999px;
					transition: none;
				}
				img.large {
					position: static;
					opacity: 1;
					transition: opacity .9s ease-in-out;
				}
			}
		}
	}
	&.medium {
		.navbar-meta {
			display: none;
		}
		.navbar-main {
			transition: background-color .7s ease-in-out;
			height: 90px;
			background-color: $blue100;
			top: 0;
			padding-top: 23px;
			padding-bottom: 18px;
			.navbar-collapse {
				top: 0;
				@media (max-width: 575px) {
					top: 90px;
				}
			}
			hr {
				width: 81%;
				top: 4rem;
			}
			.navbar-brand {
				img {
					opacity: 0;
					position: absolute;
				}
				img.medium {
					opacity: 1;
					position: static;
					transition: opacity .9s ease-in-out;
				}
				img.large {
					position: absolute;
					top: -9999px;
					opacity: 0;
					transition: none;
				}
			}
		}
	}
	@media (max-width: 575px) {
		.navbar-meta {
			display: block;
		}
		.navbar-main {
			height: 90px;
			top: 30px;
			background-color: $blue100;
			hr {
				display: none;
			}
			.navbar-brand {
				img.medium {
					display: inline-block;
					opacity: 1!important;
					position: static!important;
				}
				img.large {
					display: none;
				}
			}
		}
	}
}

// #### DROPDOWN MENU
.nav-item.dropdown {
	&.show > .dropdown-menu.fade {
		pointer-events: auto;
		opacity: 1;
	}
	.dropdown-toggle {
		outline: none;
		&:after {
			margin-left: .555em;
			vertical-align: .155em;
			border-top: .25em solid;
			border-right: .25em solid transparent;
			border-left: .25em solid transparent;
			transition: transform .3s ease-in-out;
		}
	}
	@media (max-width: 575px) {
		.dropdown-menu {
			background-color: transparent;
			border-radius: 0;
			border: 0;
			.dropdown-item {
				font-size: 1.8rem;
				color: $white;
				padding: .5rem 2rem .5rem 1rem;
				&.active {
					background-color: transparent;
					font-weight: 600;
					&:before {
						display: inline-block;
						opacity: 1;
						width: 0;
						height: 0;
						content: "";
						margin-right: .255em;
						vertical-align: .155em;
						border-top: .25em solid;
						border-right: .25em solid transparent;
						border-left: .25em solid transparent;
						border-bottom: 0;
						transform: rotate(270deg);
					}
				}
				&:active, &:hover, &:focus {
					color: $white;
					text-decoration: none;
					background-color: transparent;
				}
			}
		}
	}
	@media (min-width: 576px) {
		&.show {
			.dropdown-toggle:after {
				transform: rotate(180deg);
			}
			.nav-link {
				z-index: 2000;
				color: $blue100;
				position: relative;
			}
		}
		.dropdown-menu {
			top: -5px;
			right: -10px;
			min-width: 10rem;
			background-color: $grey500;
			padding-top: 43px;
			padding-bottom: 0;
			width: calc(100% + 2.5rem);
			border-radius: 3px;
			&.fade {
				display: block;
				opacity: 0;
				pointer-events: none;
			}
			.dropdown-item {
				font-size: 1.6rem;
				color: $blue100;
				font-weight: normal;
				padding: .5rem 2rem .5rem 1rem;
				transition: padding-left .2s ease-in-out;
				&:first-child {
					border-top: 1px solid $grey300;
				}
				&:not(:first-child) {
					border-top: 1px solid $grey400;
				}
				&:active {
					color: $blue100;
					text-decoration: none;
					background-color: $grey500;
				}
				&:before {
					transition: opacity .2s ease-in-out;
					display: inline-block;
					opacity: 0;
					width: 0;
					height: 0;
					content: "";
					margin-right: .255em;
					vertical-align: .155em;
					border-top: .25em solid;
					border-right: .25em solid transparent;
					border-left: .25em solid transparent;
					border-bottom: 0;
					transform: rotate(270deg);
				}
				&:hover {
					background-color: $grey400;
					padding-left: 2rem;
					&:before {
						opacity: 1;
					}
				}
				&.active {
					background-color: $grey400;
					font-weight: 600;
					color: $blue300;
					padding-left: 2rem;
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
}

@media (min-width: 576px) {
	#main-nav .navbar-nav {
		.nav-item:first-child {
			.dropdown-menu {
				width: calc(100% + 5.1rem);
				right: -15px;
			}
		}
	}
}

footer {
	.logos {
		padding: 16px 0;
		img {
			max-height: 50px;
		}
		a:not(:first-child) {
			margin-left: 60px;
		}
	}
	.navbar-footer {
		background-color: $blue100;
		font-size: 14px;
		padding: 0;
		font-weight: 600;
		min-height: 60px;
		.nav-item {
			margin-right: 40px;
			font-weight: 300;
			.nav-link {
				color: $grey500;
			}
		}
	}
}

.header-gradient {
	background-image: linear-gradient(to bottom, $blue100, $blue200);
	height: 400px;
	@media (max-width: 575px) {
		display: none;
	}
}

#hero-slider {
	.carousel-item {
		height: 100vh;
		max-height: 650px;
		background: no-repeat bottom center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		@media (max-width: 575px) {
			max-height: 550px;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(to bottom, rgba(3, 39, 56, 0.8), rgba(3, 39, 56, 0));
		  }
	}
	.intro {
		background-image: url('../images/flash.svg');
		background-position: 50% 25%;
  		background-repeat: no-repeat;
		position: absolute;
		top: 350px;
		background-color: $blue100;
		padding: 50px 80px;
		text-align: center;
		color: $grey400;
		p {
			font-family: 'Martel', serif;
			font-size: 2.6rem;
			line-height: 1.54;
			color: $grey400;
			b {
				color: $white;
			}
			&.source {
				line-height: 1.88;
				font-size: 1.6rem;
				text-transform: uppercase;
				color: $grey300;
				font-family: 'Assistant', sans-serif;
				margin-bottom: 30px;
				margin-top: -5px;
			}
		}
		@media (max-width: 575px) {
			padding: 25px 30px;
			bottom: unset;
			top: 125px;
			p {
				font-size: 2rem;
			}
		}
	}
}

section.project-diary-section,
section.newsletter {
	background-color: $grey500;
}

section.content {
	padding-top: 0;
	.container {
		background-color: $white;
		margin-top: -100px;
	}
}
section.download-page-content {
	.block-lead_text {
		color: $blue200;
	}
	hr {
		height: 4px;
		border-radius: 2px;
		border-top: 0;
		background-color: $grey500;
	}
	.download-item {
		margin-bottom: 100px;
		h2 {
			margin-top: 0;
			font-size: 33.8px;
			font-weight: 900;
			line-height: 1.48;
		}
		hr {
			height: 3px;
		}
		.meta {
			ul {
				li {
					font-size: 16px;
					padding: 6px 7px;
					line-height: 1;
					&.created {
						color: $grey100;
						background-color: $grey500;
					}
					&.timestamp {
						margin-left: 6rem;
						@media (max-width: 575px) {
							margin: 0;
						}
					}
				}
			}
		}
		img {
			@media (max-width: 575px) {
				margin-bottom: 2rem;
			}
		}
		.download-link {

			// position: relative;
			// paddin-left: 25px;
			font-size: 2rem;
			display: inline-block;
			margin-top: 3rem;
			img {
				height: 24px;
				width: 20px;
				margin-top: -13px;
				margin-bottom: 0;
				margin-right: 10px;
			}
		}
	}
}


.content-page {
	background-color: $grey500;
	a {
		color: $orange100;
		font-weight: bold;
		text-decoration: none;
		border-bottom: 3px solid $grey400;
		// display: inline-block;
		line-height: 24px;
		&:hover {
			text-decoration: none;
			color: $orange100;
			border-bottom: 3px solid $orange100;
		}
		&.badge {
			line-height: 14px;
			font-weight: 600;
			border-bottom: 0;
		}
	}
	section.page-content,
	section.download-page-content {
		min-height: 500px;
		.container {
			margin-top: -100px;
			background-color: $white;
			padding: 50px 30px;
			box-shadow: 0 4px 0 0 $grey400;
			border-radius: 3px;
			&.project-diary,
			&.case-study-overview {
				margin-top: 0;
				background-color: $grey500;
				position: relative;
				box-shadow: none;
				h1 {
					position: absolute;
					top: -100px;
					color: $grey500;
					left: 50%;
					transform: translateX(-50%);
					width: fit-content;
				}
			}
			&.case-study-overview {
				margin-bottom: 100px;
			}
			@media (max-width: 575px) {
				margin-top: 90px;
				padding: 15px 15px;
			}
			.highlight {
				text-align: right;
				margin-bottom: 6rem;
				@media (max-width: 575px) {
					text-align: left;
					margin-bottom: 3rem;
				}
				p {
					display: inline-block;
					font-size: 16px;
					background-color: $grey500;
					padding: 10px 16px;
					line-height: 1;
				}
			}
			.tags,
			.filter {
				font-size: 2rem;
				margin-bottom: 6rem;
				margin-top: 2rem;
				ul {
					display: inline;
				}
				span {
					float: left;
					margin-right: 1rem;
				}
				.historical {
					margin-left: 6rem;
				}
				@media (max-width: 575px) {
					ul, span {
						display: block;
						clear: both;
					}
					.historical {
						margin-left: 0;
					}
				}
			}
			hr {
				height: 3px;
				border-radius: 2px;
				border-top: 0;
				background-color: $grey500;
			}
		}
	}
}

.project-diary {
	padding-top: 200px;
	@media (max-width: 575px) {
		padding-top: 100px;
	}
	.row {
		margin-bottom: 4rem;
		@media (max-width: 575px) {
			margin-bottom: 0;
		}
	}
	.card {
		border: none;
		border-bottom: 4px solid $grey400;
		position: relative;
		padding-bottom: 5.2rem;
		border-radius: 0;
		@media (max-width: 575px) { 
			margin-bottom: 50px;
		}
		&:hover {
			cursor: pointer;
			border-bottom: 4px solid $grey300;
			// .btn-secondary {
			// 	border-color: #cf8e17;
			// }
		}
		.card-body {
			padding: 2rem;
		}
		.card-date {
			font-family: 'Assistant', sans-serif;
			font-size: 1.6rem;
			font-weight: 600;
			color: $grey100;
			line-height: 1;
			margin-bottom: 1rem;
		}
		.card-title {
			font-size: 26px;
			font-weight: 900;
			line-height: 1.15;
			font-family: 'Martel', serif;
			margin-top: 0;
		}
		.card-text {
			margin-top: 1rem;
			font-size: 16px;
			line-height: 1.63;
			color: $blue100;
		}
		.btn-secondary {
			position: absolute;
			bottom: 2.5rem;
		}
	}
	.show-all {
		margin: 3rem 0 10rem 0;
		@media (max-width: 575px) {
			margin: 0 0 8rem 0;
		}
	}
}
.case-studies {
	padding-bottom: 200px;
	@media (max-width: 575px) {
		padding-bottom: 0;
	}
	.card {
		border: none;
		position: relative;
		cursor: pointer;
		@media (max-width: 575px) { 
			margin-bottom: 150px;
		}
		&:hover > img{
			// transform: scale(1.1);
		}
	}
	.card-box {
		padding: 2.5rem 2.5rem;
		background-color: $blue100;
		position: absolute;
		left: 50%;
		top: 75%;
		transform: translateX(-50%);
		transition: border .2s ease-in;
		width: 91%;
		border: 4px solid $blue100;
		@media (max-width: 575px) { 
			width: 90%;
			padding: 1.8rem 3rem;
		}
		img {
			position: absolute;
			top: 87px;
			transform: translateY(-50%);
		}
		&:hover {
			border: 4px solid $blue300;
		}
	}
	a {
		border-bottom: none;
		display: inline;
		&:hover {
			text-decoration: none;
		}
	}
	h5, h6 {
		margin-left: 110px;
		margin-bottom: 0;
		margin-top: 0;
		@media (max-width: 575px) { 
			margin-left: 0;
		}
	}
	h5 {
		font-family: 'Assistant', sans-serif;
		font-size: 34px;
		font-weight: 800;
		color: $grey400;
		line-height: 1.18;
	}
	h6 {
		font-family: 'Assistant', sans-serif;
		font-size: 16px;
		font-weight: 600;
		color: $orange200;
		text-transform: uppercase;
		line-height: 1.5;
	}
}
.newsletter {
	padding-top: 60px;
	padding-bottom: 120px;
	h2 {
		font-size: 3.2rem;
		font-weight: 900;
		margin-bottom: 3rem;
		line-height: 1.56;
	}
	p {
		font-size: 16px;
		line-height: 1.63;
	}
	form {
		margin-top: 60px;
	}
	.btn-primary {
		margin-top: 60px;
		background-color: $orange100;
		border-color: $orange100;
		color: $white;
		&:hover {
			background: darken($orange100, 5%);
			color: $white;
			border-color: darken($orange100, 5%);
		}
	}
}
.facts {
	background-color: $blue100;
	padding: 37px 15px 15px 15px;
	position: relative;
	margin-top: 2rem;
	h4 {
		text-transform: uppercase;
		font-size: 20px;
		color: $blue100;
		background-color: $grey400;
		margin: 0;
		line-height: 1;
		letter-spacing: 3px;
		padding: 7px 19px;
		font-family: 'Assistant', sans-serif;
		display: inline-block;
		position: absolute;
		top: -17px;
		left: 50%;
		transform: translateX(-50%);
	}
	.table {
		font-size: 16px;
		margin-bottom: 0;
		td {
			border-top: 1px solid $blue100;
			padding: 1rem;
			&.fact {
				color: $grey300;
				font-weight: 300;
			}
			&.value {
				color: $grey500;
				font-weight: 500;
			}
		}
		&.table-striped tbody tr:nth-of-type(odd) {
			background-color: #123a4d;
		}
		&.table-striped tbody tr:nth-of-type(even) {
			background-color: #0c3345;
		}
	}
}
.pubo {
	h3 {
		margin-top: 0;
	}
	.btn-secondary {
		margin-left: 2rem;
	}
	.btn-primary {
		padding: 5px;
		border: 0;
		&:hover {
			border: 0;
			background-color: white;
		}
	}
	.form-control {
		height: calc(4.5rem + 2px);
	}
	.form-control, label {
		font-size: 2rem;
	}
}
.login .btn-primary {
	font-size: 20px;
	padding: 5px 15px;
}

#CookielawBanner {
	position: fixed;
	bottom: 0;
	background-color: $grey400;
	color: $blue200;
	font-size: 1.4rem;
	padding-right: 12rem;
	margin: 0;
	border: none;
	border-radius: 0;
	.btn-primary {
		opacity: 1;
		background-color: $blue100;
		color: $white;
		text-shadow: none;
		font-size: 1.8rem;
		border-radius: 3px;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
	}
	@media (max-width: 575px) { 
		padding-right: 0;
		padding-bottom: 6rem;
		.btn-primary {
			top: unset;
			right: unset;
			bottom: 15px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
