@import "fonts";
// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

$white: #ffffff;
$black: #000000;

$blue100: #032738;
$blue200: #0c4d6c;
$blue300: #0c638d;

$orange100: #cf8e17;
$orange200: #eea00a;
$orange300: #f3b84e;

$grey100: #6c909e;
$grey200: #b3bec3;
$grey300: #ccd3d7;
$grey400: #e6e9eb;
$grey500: #f7f7f7;



html, body {
	font-size: 16px;
	font-family: 'Assistant', sans-serif;
}

h1 {
	margin-bottom: 3.4rem;
	font-family: 'Martel', serif;
	font-size: 7.425860000000002em;
	line-height: 10.2rem;
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0em;
}

h2 {
	margin-bottom: 3.4rem;
	font-family: 'Martel', serif;
	font-size: 5.712200000000001em;
	line-height: 6.8rem;
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0em;
}

h3 {
	margin-bottom: 3.4rem;
	font-family: 'Martel', serif;
	font-size: 4.394000000000001em;
	line-height: 6.8rem;
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0em;
}

h4 {
	margin-bottom: 3.4rem;
	font-family: 'Martel', serif;
	font-size: 3.3800000000000003em;
	line-height: 3.4rem;
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0em;
}

h5 {
	margin-bottom: 3.4rem;
	font-family: 'Martel', serif;
	font-size: 2.6em;
	line-height: 3.4rem;
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0em;
}

h6 {
	margin-bottom: 3.4rem;
	font-family: 'Martel', serif;
	font-size: 2.6em;
	line-height: 3.4rem;
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0em;
}

// p {
// 	margin-bottom: 3.4rem;
// 	font-family: 'Assistant', sans-serif;
// 	font-size: 2em;
// 	line-height: 3.4rem;
// 	font-weight: 400;
// 	font-style: normal;
// 	letter-spacing: 0em;
// }

h1 + p {
	margin-top: -2.4rem;
}

h2 + p {
	margin-top: -2.4rem;
}

h3 + p {
	margin-top: -2.4rem;
}

h4 + p {
	margin-top: -2.4rem;
}

h5 + p {
	margin-top: -2.4rem;
}

h6 + p {
	margin-top: -2.4rem;
}

h3.chapter {
	font-size: 20px;
	font-family: 'Assistant', sans-serif;
	letter-spacing: 3px;
	font-weight: 700;
	text-transform: uppercase;
	overflow: hidden;
	text-align: center;
	margin-bottom: 3rem;
	margin-top: 3rem;
	&:before,
	&:after {
		background-color: $grey300;
		content: "";
		display: inline-block;
		height: 2px;
		position: relative;
		vertical-align: middle;
		width: 30px;
	}
	&:before {
		right: 0.5em;
		margin-left: -50%;
	}
	&:after {
		left: 0.5em;
		margin-right: -50%;
	}
}
.btn-primary {
	border-radius: 4px;
	border: solid 3px $orange200;
	font-size: 26px;
	color: $orange200;
	background-color: transparent;
	font-family: 'Assistant', sans-serif;
	font-weight: 600;
	padding: 8px 20px;
	&.focus, 
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(238, 160, 10, 0.5);
	}
	&:hover {
		color: $blue100;
		background-color: $orange200;
		border-color: $orange200;
	}
}
.btn-secondary {
	background: transparent;
	font-size: 16px;
	text-transform: uppercase;
	color: $orange100;
	font-weight: 700;
	padding: 0;
	border: none;
	border-bottom: 3px solid $grey400;
	border-radius: 0;
	transition: border-color .2s linear;
	&.focus, 
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(238, 160, 10, 0.5);
	}
	&:hover {
		color: $orange100;
		background: transparent;
		border-color: $orange100;
	}
}

.form-group.required label:after {
	content: "*";
	color: red;
}

.content {
	padding-top: 30px;
}
header {
	.navbar-main {
		height: 308px;
		top: 30px;
		padding-top: 37px;
		padding-bottom: 37px;
		font-size: 20px;
		font-weight: 200;
		font-family: 'Assistant';
		/*Animation*/
		    // -moz-transition: background-color 1s ease;
		    //   -o-transition: height 1s ease;
		    //  -ms-transition: height 1s ease;
		         
		.container {
			position: relative;
		}
		.navbar-brand {
			img.large {
				display: inline-block;
			}
			img.medium {
				display: none;
			}
		}
		hr {
			position: absolute;
			border-top: 1px solid $grey300;
			width: 78%;
			top: 71px;
			right: 0;
		}
		.nav-item {
			margin-left: 22px;
			.nav-link {
				padding-top: 8px;
				padding-bottom: 7px;
				line-height: 1.14;
				color: $white;
			}
			&.active {
				font-weight: 600;
			}
		}
		.navbar-collapse {
			position: absolute;
			top: 40px;
			right: 0;
		}
	}
	.navbar-meta {
		background-color: $grey500;
		font-size: 14px;
		padding: 0;
		font-weight: 500;
		overflow: hidden;
		height: 30px;
		transition: height 0.5s ease-out;
		.nav-item {
			margin-left: 22px;
			.nav-link {
				padding-top: 8px;
				padding-bottom: 7px;
				line-height: 1.14;
				color: $grey100;
				text-transform: uppercase;
			}
			&.active {
				color: $blue300;
				font-weight: 600;
			}
			
		}
	}
	&.large {
		.navbar-main {
			transition: unset;
		}
	}
	&.medium {
		.navbar-meta {
			display: none;
		}
		.navbar-main {
			transition: background-color .4s ease-out;
			height: 90px;
			background-color: $blue100;
			top: 0;
			padding-top: 23px;
			padding-bottom: 18px;
			.navbar-collapse {
				top: 0;
			}
			hr {
				width: 81%;
				top: 29px;
			}
			.navbar-brand {
				img.medium {
					display: inline-block;
				}
				img.large {
					display: none;
				}
			}
		}
	}
}

// #### DROPDOWN MENU
.nav-item.dropdown {
	.dropdown-toggle:after {
		margin-left: .255em;
		vertical-align: .155em;
		border-top: .25em solid;
		border-right: .25em solid transparent;
		border-left: .25em solid transparent;
	}
	&.show {
		.dropdown-toggle:after {
			transform: rotate(180deg);
		}
		.nav-link {
			z-index: 2000;
			color: $blue100;
			position: relative;
		}
	}
	.dropdown-menu {
		top: 0;
		right: -1rem;
		background-color: $grey500;
		padding-top: 39px;
		width: calc(100% + 2rem);
		.dropdown-item {
			font-size: 16px;
			color: $blue100;
			font-weight: normal;
			padding: .5rem 1.5rem;
			&:first-child {
				border-top: 1px solid $grey300;
			}
			&.active {
				background-color: $grey400;
				font-weight: 600;
				color: $blue300;
				&:before {
					display: inline-block;
					width: 0;
					height: 0;
					content: "";
					margin-right: .255em;
					vertical-align: .155em;
					border-top: .25em solid;
					border-right: .25em solid transparent;
					border-left: .25em solid transparent;
					border-bottom: 0;
					transform: rotate(270deg);
				}
			}
		}
	}
}

footer {
	.logos {
		padding: 16px 0;
		img {
			max-height: 50px;
		}
		a:not(:first-child) {
			margin-left: 60px;
		}
	}
	.navbar-footer {
		background-color: $blue100;
		font-size: 14px;
		padding: 0;
		font-weight: 600;
		min-height: 60px;
		.nav-item {
			margin-right: 40px;
			font-weight: 300;
			.nav-link {
				color: $grey500;
			}
		}
	}
}

#hero-slider {
	.carousel-item {
		height: 100vh;
		max-height: 75vh;
		background: no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(to bottom, rgba(3, 39, 56, 0.8), rgba(3, 39, 56, 0));
		  }
	}
	.intro {
		background-image: url('../images/flash.svg');
		background-position: 50% 25%;
  		background-repeat: no-repeat;
		position: absolute;
		bottom: -15%;
		background-color: $blue100;
		color: $grey400;
		font-family: 'Martel', serif;
		font-size: 26px;
		padding: 50px 80px;
		text-align: center;
		line-height: 1.54;
		.btn-primary {
			margin-top: 2rem;
		}
	}
}

section.project-diary-section,
section.newsletter {
	background-color: $grey500;
}

.project-diary {
	padding-top: 200px;
	.card {
		border: none;
		border-bottom: 4px solid $grey400;
		position: relative;
		padding-bottom: 4rem;
		border-radius: 0;
		&:hover {
			cursor: pointer;
		}
		.card-date {
			font-family: 'Assistant', sans-serif;
			font-size: 16px;
			font-weight: 600;
			color: $grey100;
		}
		.card-title {
			font-size: 26px;
			font-weight: 900;
			line-height: 1.15;
			font-family: 'Martel', serif;
		}
		.card-text {
			margin-top: 1rem;
			font-size: 16px;
			line-height: 1.63;
		}
		.btn-secondary {
			position: absolute;
			bottom: 1.5rem;
		}
	}
	.show-all {
		margin: 7rem 0;
	}
}
.case-studies {
	padding-bottom: 150px;
	.card {
		border: none;
		position: relative;
		cursor: pointer;
	}
	.card-box {
		padding: 1.5rem 2.5rem;
		background-color: $blue100;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%) translateY(50%);
		width: 80%;
		img {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	a:hover {
		text-decoration: none;
	}
	h5, h6 {
		margin-left: 110px;
		margin-bottom: 0;
	}
	h5 {
		font-family: 'Assistant', sans-serif;
		font-size: 34px;
		font-weight: 800;
		color: $grey400;
		line-height: 1.18;
	}
	h6 {
		font-family: 'Assistant', sans-serif;
		font-size: 16px;
		font-weight: 600;
		color: $orange200;
		text-transform: uppercase;
		line-height: 1.5;
	}
}
.newsletter {
	padding-top: 60px;
	padding-bottom: 120px;
	h2 {
		font-size: 32px;
		font-weight: 900;
		margin-bottom: 1.5rem;
	}
	p {
		font-size: 16px;
		line-height: 1.63;
	}
	form {
		margin-top: 60px;
	}
	.btn-primary {
		margin-top: 60px;
		background-color: $orange100;
		border-color: $orange100;
		color: $white;
		&:hover {
			background-color: $white;
			color: $orange100;
		}
	}
}
